*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color:  blue;
}

.sublink li{
    display: inline-block;
    height: 40px;
}

.brand{
   display: block;
   padding: 10px; 
   text-decoration: none;

}

.sublink li a{
    display: block;
    padding: 10px;
    text-decoration: none;
}

/*signin/up style*/

.form-container{
    margin: 8em;
}

.sign{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.form{
    padding: 30px 0;
}

.input{
    margin: 10px 0;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
}
